// Import Bulma's core
@import "../../../node_modules/bulma/sass/utilities/_all.sass";

// Set your colors
$primary: #B89C6A;
$primary-light: #ddba7fc7;
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);

$success: #4BB543;
$success-light: findLightColor($success);
$success-dark: findDarkColor($success);
$success-invert: findColorInvert($success);

$danger: #640B26;
$danger-light: findLightColor($danger);
$danger-dark: findDarkColor($danger);
$danger-invert: findColorInvert($danger);

$editor: #F5F5F5;
$editor-invert: #2547df;
$editor-light: #494949;
$editor-dark: #af1919;
$editor-active: #af1919;

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
    (
        "white": (
            $white,
            $black,
        ),
        "black": (
            $black,
            $white,
        ),
        "light": (
            $light,
            $light-invert,
        ),
        "dark": (
            $dark,
            $dark-invert,
        ),
        "primary": (
            $primary,
            $primary-invert,
            $primary-light,
            $primary-dark,
        ),
        "link": (
            $link,
            $link-invert,
            $link-light,
            $link-dark,
        ),
        "info": (
            $info,
            $info-invert,
            $info-light,
            $info-dark,
        ),
        "success": (
            $success,
            $success-invert,
            $success-light,
            $success-dark,
        ),
        "warning": (
            $warning,
            $warning-invert,
            $warning-light,
            $warning-dark,
        ),
        "danger": (
            $danger,
            $danger-light,
            $danger-dark,
            $danger-invert,
        ),
        "editor": (
            $editor,
            $editor-light,
            $editor-dark,
            $editor-invert,
            $editor-active,
        ),
    ),
    $custom-colors
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "../../../node_modules/bulma/bulma.sass";
@import "~buefy/src/scss/buefy";